body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#firstBox {
    height: 160px;
    width: 99%;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
}

#purpleRectangle {
    background-color: #8a2be2;
    height: 105px;
    width: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

#greenRectangle {
    background-color: #228b22;
    width: 250px;
    height: 140px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
}

#blueCircle {
    background-color: #87ceeb;
    height: 140px;
    width: 140px;
    border-radius: 100%;
    margin-left: 20px;
    margin-bottom: 10px;
}

#secondBox {
    height: 200px;
    width: 99%;
    border-style: dotted;
    border-width: 5px;
    margin-bottom: 20px;
}

#yellowBox {
    background-color: #fffacd;
    height: 130px;
    width: 95%;
    margin-top: 35px;
    margin-left: 2.25%;
    filter: drop-shadow(10px 10px 2px #474747);
}

#thirdBox {
    height: 260px;
    width: 25%;
    border-style: solid;
    border-width: 1px;
    border-color: #d5d5d5;
    background-color: #ffffff;
    filter: drop-shadow(2px 2px 1px #c8c8c8);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #000080;
    text-align: center;
}