body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.page-container {
    width: 100%;
    min-height: 100%;
    height: 100%;
    background-image: url("Homepage_Desktop.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-bar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.logoDiv {
    width: 250px;
    margin-left: 110px;
    margin-right: 0px;
    margin-bottom: 10px;
    justify-self: flex-end;
    display: flex;
}

img {
    width: 200px;
}

.mid-links {
    display: flex;
}

.nav-links {
    color: #ffffff;
    margin-right: 52px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 10pt;
}

.right-aligned-nav-items {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 35px
}

.fa-bars {
    margin-left: 20px;
}

.content-container {
    color: #ffffff;
    font-family: 'Loto', sans-serif;
    margin-left: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 500px;
}

.completed-mission {
    margin-bottom: 0px;
    font-size: 14pt;
}

.return-to-earth {
    font-weight: 700;
    font-size: 32pt;
    margin-top: 10px;
    margin-bottom: 20px;
}

button {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-family: 'Loto', sans-serif;
    font-weight: 700;
    width: 165px;
    height: 55px;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}